@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

:root {
    --rose-bonbon: #FF499E;
    --sky-magenta: #D264B6;
    --lavender: #A480CF;
    --vista-blue: #779BE7;
    --argentinian-blue: #49B6FF;
    --sky-blue: #72ddf7;
    --space: 8px;
    --dark: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    color: var(--dark);
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top: calc(var(--space) * 2);
}

h2 {
    font-family: "Cormorant", serif;
    margin-top: calc(var(--space) * 3);
    margin-bottom: calc(var(--space) * 2);
}

/* -------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: var(--space);
    background-color: var(--sky-magenta);
    box-shadow: 0px 3px 21px 0px rgba(164,128,207,0.75);
    -webkit-box-shadow: 0px 3px 21px 0px rgba(164,128,207,0.75);
    -moz-box-shadow: 0px 3px 21px 0px rgba(164,128,207,0.75);
}

.logo {
    height: 64px;
    width: auto;
}

.nav-container {
    display: none; 
}

.nav-container li {
    list-style: none;
}

.nav-container li a {
    text-decoration: none;
    color: white;
}

#burger-check:checked ~ .nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

.nav-links {
    flex-direction: column;
    width: 100%;
}

.nav-links li {
    margin: 10px 0;
}

/* ---------------- BURGER MENU ---------------- */

.burger-container {
    width: 30px;
}

.burger-check {
    display: none;
}

.burger-menu {
    width: 30px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--dark);
    margin: 5px 0;
    transition: all 0.3s ease;
}

.burger-check:checked ~ .burger-menu .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger-check:checked ~ .burger-menu .bar:nth-child(2) {
    opacity: 0;
}

.burger-check:checked ~ .burger-menu .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* ---------------- FIN BURGER MENU ---------------- */

main {
    display: flex;
    flex-direction: column;
    padding: calc(var(--space) * 2);
}

.presentation-container img {
    width: 90%;
    height: min(500px, calc(200px + 30vh));
    object-fit: cover;
    margin: auto;
    margin-top: calc(var(--space) * 2);
    display: flex;
}

.presentation {
    margin-top: var(--space);
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 0;
}

.photos-container {
    margin-bottom: calc(var(--space) * 8);
}

.photos-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s all ease-in-out;
}

.photos-container img:hover {
    cursor: pointer;
    filter: grayscale(80%);
}

.photos-container img:nth-child(even) {
    transform: translateY(30px);
}

/* ------------------------------- DEVIS ------------------------------- */

.contact-container {
    /* margin-top: calc(var(--space) * 6); */
    position: relative;
}

.reclamation {
    margin-top: 0;
}

.toggle-button {
    padding: calc(var(--space) / 2) var(--space);
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--lavender);
    border: none;
    border-radius: calc(var(--space) / 2);
    transition: all 0.5s ease-in-out;
}

.toggle-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#contact-form {
    display: none;
}

#contact-form input {
    padding: calc(var(--space) / 2);
}

#contact-check:checked ~ #contact-form {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--space) * 2);
}

#contact-check:checked ~ #contact-form input {
    margin-bottom: var(--space);
}

#contact-check {
    display: none;
}

.submit-form {
    background-color: var(--vista-blue);
    border: none;
    border-radius: calc(var(--space) / 2);
    padding: calc(var(--space) / 2);
    width: fit-content;
    transition: all 0.5s ease-in-out;
    margin-top: var(--space);
}

.submit-form:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* ------------------------------- FIN DEVIS ------------------------------- */

.scroll-to-top {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: flex-end;
    background-color: #cccccc;
    opacity: 50%;
}

.scroll-to-top img {
    width: 100%;
    height: 100%;
}

/* ------------------------------- FOOTER ------------------------------- */

footer {
    padding: var(--space);
    background-color: var(--sky-magenta);
}